body{
  background-color: white;
}

.card{
  background-color: #fcfcfc !important;
}

.spacer{
  height: 30px;
}

.spacer-sm{
  height: 10px;
}

.text-center{
  text-align: center;
}


.bottomactionbutton{
  position: absolute;
    bottom: 15px;
    right: 15px;
}

.widthfull{
  width: 100% !important;
}

.nexttoeachothercard{
  display: flex;
  justify-content: space-between;
}

.nexttoeachothercardjustifyleft{
  justify-content: left;
  display: flex;
}


.iconforrundenzahl{
  margin: 30px;
  margin-left: 100px;
}

.floatbutton{
  position: fixed !important;
  bottom: 10px;
  right: 10px;
}

.floatbuttonleft{
  position: fixed !important;
  bottom: 10px;
  left: 10px;
}

.navbar{
  position: fixed !important;
}

.ausgleichnavbar {
  height: 70px;
}


.heightfull{
  height: 90vh;
}